data/datasets/*
!/data/datasets/.gitkeep
data/networks/*
!/data/networks/.gitkeep
data/tasks/*
!/data/tasks/.gitkeep
data/backgrounds/*
!/data/backgrounds/.gitkeep
data/models/*
!/data/models/.gitkeep
.vscode

.env

/**/__pycache__

poetry.lock